/*!
Author: kiki verb
Author URI: http://www.kiki-verb.com/
Version: 1.0
*/

//============================================================================
//	HTML/CSS規約
//
//	複数単語はキャメルケースで記述する
//	クラス名は、モジュール名_サブモジュール名の順番で、親モジュールの名前を接頭語として付与
//	<section class="articlesHeadline">
//		<h2 class="articlesHeadline_title">タイトル</h2>
//		<div class="articlesHeadline_summary">
//			<p class="articlesHeadline_summary_date">2018/01/23</p>
//			<p class="articlesHeadline_summary_description">説明文</p>
//		</div>
//	</section>
//
//	■Base
//	サイト全体のフォントサイズや行間、a要素の文字色など、使用される場所を問わずタグが本来持つべき設定をベースルールとして記述
//	要素自体に対して定義するため id や class を使用しない
//
//	■Common-Compornent
//	ヘッダー・フッター・サイドバーなど各ページで固定的に共有するパーツ・オブジェクトを設計
//	ID指定のほか、絶対に変わらないであろう親子階層の場合の > などで設定する
//
//	■General-Compornent
//	主に各ページごとに使われたり使われなかったりするパーツ・オブジェクトを設計
//	直下タグは使わず、ちょっと手間でもクラス名をつけて対応
//
//	■Utility
//	clearfix や .pc/.sp など、調整用のレイヤーや比較的小さなスタイルを定義
//	JSで使われる前提の場合は js_ プレフィックスを使用
//
//============================================================================

//	■Var 変数設定
//@import "var";



//======================================
//	■Base
//======================================
body {
//	background-color: $color-darkest;
	background-color: #f9fcff;
	color: #292929;
	font: 16px/1.6 'Noto Sans JP', sans-serif;
	text-justify: inter-ideograph;
	text-align: justify;
}

a {
	color:#3ea4b8;
	text-decoration: none;
	position: relative;
	transition: all 0.2s ease;

	&::before {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		content: '';
		background: rgba(#88cfda, .7);
		transform-origin: right bottom;
		transform: scale(0, 0.4);
		transition: transform .2s;
	}
	&:hover::before {
		transform-origin: left bottom;
		transform: scale(1, 0.4);
	}
}

.svgLogoColored01{fill:#88cfda}
.svgLogoColored02{fill:#3ea4b8}



//======================================
//	■Common-Compornent
//======================================
#wrap {

	header {
		position: fixed;
		top: 0;
		left: 0;
		width: 70px;
		height: 100vh;

		a {
			display: block;
			padding: 10px;

			&::before {
				content: none;
			}

			.header_logo {
				width: 50px;
				height: 50px;
				transition: all 0.7s ease;

				&:hover {
					transform: rotateY(360deg);
				}
			}
		}

		#header_copyright {
			font-size: 12px;
			transform: rotate(90deg);
			position: absolute;
			width: 200px;
			top: 50%;
			left: -64px;
			letter-spacing: 2px;
			color: #929292;
		}
	}

	#content {
		width: 100%;
		padding-left: 70px;

		#menu {
			position: fixed;
			width: calc(100% - 70px);
			text-align: right;
			letter-spacing: 1px;
			left: 70px !important;

			ul {
				padding: 20px 0;
			}

			li {
				display: inline-block;
				margin-right: 20px;
				font-size: 18px;

				a {
					color: #292929;
				}
			}

			.midnightHeader.white a {
				color: #fff !important;
			}
		}
	}
}



//======================================
//	■General-Compornent
//======================================
// home
#home_eyecatch {
	background: url('../img/eyecatch.png') no-repeat center center / cover;
	height: 640px;
	padding: 0 40px;
	color: #fff;
	display: flex;
	align-items: center;

	&_inbox {

		p {
			font-size: 92px;
			text-transform: uppercase;
			font-weight: bold;
			line-height: 1.1;

			span {
				background: linear-gradient(transparent 55%, rgba(255, 255, 255, .2) 55%, rgba(255, 255, 255, .2) 90%, transparent 90%);
			}
		}
		h1 {
			margin-top: 40px;
			font-size: 30px;
		}
	}

}






// eyecatch
#eyecatch {
	width: 100%;
	height: 450px;
	background: url('img/eyecatch.png') repeat center top / contain;

	@media screen and (min-width: 768px) and (max-width: 1200px) {
		width:calc((100% / 2) - 20px);
	}
	@media screen and (min-width: 1201px) and (max-width: 1420px) {
		width:calc((100% / 3) - 20px);
	}
	@media screen and (min-width: 1421px) {
		width:calc((100% / 4) - 20px);
	}
}



//======================================
//	■Utility
//======================================
.pc_only{display:block}
.sp_only{display:none !important}

.clear::after {
	content: "";
	display: block;
	clear: both;
}

.is_error {
	color: #cc0044;
	font-weight: bold;
}
.opa:hover{
	opacity: 0.7;
}



/*==============================
	SP ONLY
==============================*/
@media screen and (max-width: 767px) {

}



/*==============================
	PC ONLY
==============================*/
@media screen and (min-width: 768px) {

}
